.git
.github
.agents
.codex

node_modules
vendor

.env
.env.*
!.env.example
auth.json

bootstrap/cache/*.php
public/build
public/hot
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

npm-debug.log
yarn-error.log
.phpunit.result.cache
.phpunit.cache
